* {
    margin: 0;
    font-family: "Century Gothic";
}

html, body {
    background: #272c2c; /* exact dezelfde kleur als je fade-einde */
    margin: 0;
}

header {
    display: grid;
    position: relative;
    place-items: center;
    background-image: url("../images/Ducati_circuit_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 5rem;

}

header::after {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 400px;

    background: linear-gradient(
            to bottom,
            rgba(39, 44, 44, 0) 50%,
            #272c2c 100%
    );
    opacity: 1;

    pointer-events: none;


}

.sk-fb-event{
    background: #272c2c;
}

header nav{
    display: flex;
    margin-block: 1rem;
    min-width: 60%;
}

#topDucatiLogo{
    max-width: 3%;
    margin: 0.5rem;

}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #1c1c1c;
    min-height: 100px;
    max-width: 90%;
}

.nav-logo img {
    height: 45px;
    transition: filter 0.2s ease;
    margin-right: 3rem;

}

.nav-logo:hover img {
    filter: brightness(0.4);
}

.nav-links {
    display: flex;
    font-size: 1.4rem;
    gap: 2rem;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px;
}

.nav-links a:hover {
    color: #cccccc;
    background-color: #392e2e;
    border-radius: 3px;
    padding: 5px;

}
/*becomeAMemberPopUp*/
.becomeAMemberPopUp{
    display: inline-grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.5); /* “half doorzichtig ” */
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    margin-top: 24rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    width: 45%

}

.becomeAMemberPopUp p{
    color: white;
    margin-bottom: 0.8rem;
    line-height: 1.4;
}

.becomeAMemberPopUp-btn{

    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: 2px solid white;
    font-weight: 700;
}


.becomeAMemberPopUp-btn:hover{
    filter: brightness(0.9);
    background: rgba(120, 92, 92, 0.5)
}

.SocialMediaLinks {
    margin-block: 1rem;
    display: flex;
    justify-content: space-evenly;
    max-width: 25%;

}

.SocialMediaLinks img {
    flex-grow: 1;
    background-color: white;
    border-radius: 50%;
    margin-inline: 2rem;
    opacity: 0.8;
    max-width: 50%;
    border: 5px solid white;

}

.SocialMediaLinks img:hover {
    opacity: 1;
    border: 5px solid red;
    background-color: red;



}
/* LANGUAGE*/
.lang{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.lang a{
    display: inline-block;
    text-decoration: none;
    color: #111;
    background: rgba(46, 42, 42, 0.5);
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    font-weight: 700;
}

.lang a:hover{
    filter: brightness(3); /* lichter bij hover */
}

.lang a.active{
    outline: 2px solid #111; /* toont welke taal actief is */
}

main{

    display: grid;
    place-items: center;
    margin-inline: 20%;
    margin-top: 5rem;

}



.evenementen{
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid #1c1c1c;
    border-radius: 16px;
    width: 100%;
    background-color: #1c1c1c;
    color: white;

}
.evenementen h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 5px solid black;
}


/* Phone and small screens*/

@media screen and (max-width: 900px){
.main-nav{
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}
.main-nav a{
    font-size:1rem

}
.nav-logo img{
    margin-right: 0; /* je had 6rem; op mobile liever weg */
}
.becomeAMemberPopUp{
    width: 60%;
    margin-block: 6rem;
    font-size: 1rem;



}
}
