html {
    background-color: #333;
    font-family: helvetica, serif;
}

* {
    padding: 10px;
}


body {
    font-size: 1em;
    font-family: helvetica, serif;
    margin: 5px;
}

header, footer {
    background-color: #ddaa00;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #ccc;
    padding: 5px 2px;
}

img {
    padding: 0px;
}

nav>a {
    margin: 0 5px;
    color: orange;
    text-decoration: none;
    border: 1px #ccc;
    background-color: white;

}

main {
    display: flex;
    background-color: grey;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

h1 {
    margin: 0px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: white;
}

section>a {
    color: grey;
    text-decoration: none;
    border: 1px solid #333333;
    width: 100%;
}

footer>a {
    color: #ddaa00;
}


@media screen and (min-width: 700px) {

    section {
        display: flex;
        flex-direction: column;
    }

    main > section,
    main > section > p {
        flex: 1;
    }

    main {
        display: flex;
        flex-direction: row;
        border-bottom: 10px solid;
    }

    main > section {
        margin: 10px;
    }

    html {
        background-color: #333;
        font-family: helvetica;
    }

    * {
        padding: 10px;
    }
    nav {background-color: #ccc;}
    header,
    footer {
        text-align: center;
        background: #ddaa00;
        color: white;
    }
    main {
        background-color: grey;
    }

    body, section {
        background-color: white;
        margin: 5px;
    }
    img {
        background-color: #ccc;
        padding: 0;
    }
    h1 {
        margin: 0;
    }
    nav {
        padding: 5px 2px;
    }
    nav a {
        margin: 0 5px;
        background-color: white;
        color: #ddaa00;
        text-align: center;
        text-decoration: none;
        border: 1px solid #333;
    }

    section > a {
        background: #fff;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #666;
        font-size: 1em;
        text-align: center;
        display:inline-block;
        box-sizing: border-box;
    }



    /* relevant CSS */
    nav {
        display: flex;
    }

    nav a {
        flex-grow: 1;
    }

    section > img,
    section > a {
        width: 100%;
    }
}