body{
    font-family: 'Helvetica', sans-serif;
    margin-top: 0px;
}

header{
    margin: 0px 0px 10px 0px;
}

footer{
    margin: 10px 0px 0px 0px;
}
a{
    color: #EF233C;
}

h1, h2{
    font-weight: normal;
}

h2{
    font-size: 1em;
}

h1{
    font-size: 2em;
}
header, footer {
    background: #2B2D42;

    padding:30px;
}

header h2{
    color: azure;

}

footer h2{
    color: #8D99AE;
}
header h1, footer h1{
    color: azure;

}

main {
background: #8D99AE;
    margin: 0px 0px 0px 0px;
    padding:30px;

}

footer p, header p{
    color: #8D99AE;
}

