* {
    margin: 0;
}
html{
    background: #272c2c;
}

header{
    text-align: center;
    background: #1c1c1c;
    color: azure;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}
nav {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    margin-inline: 20%;
}

nav a {
    flex-grow: 1;
    color: azure;

    padding: 1em;
    border: 3px solid grey;
}

main{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background: #1c1c1c;
    color: azure;
    padding: 1rem;
    border-radius: 5px;


}
h1{
    margin-block: 1rem;
}

main section{
    display: flex;
    flex-direction: column;
    margin-block: 1rem;

}
.monsters{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}
.monsters article{
    flex-grow: 1;
    background-color: grey;
    border-radius: 5px;
    padding: 1rem;
}

img{
    width: 100%;
}
table{
    border: 3px solid #151515;
    border-collapse: collapse;
}
#border{
    background: #e6e6e6;
    border: 3px solid #b9ffd4;

}
th, td{
    background-color: grey;
    border: 3px solid #aeaeae;
    border-left: 5px solid black;
    text-align: center;
}
th{
    border-bottom: 5px solid black;

}

.tweedelig{
    display: inline-flex;
    flex-direction: row;
    gap: 3rem;

}
.tweedelig > section{
    flex-grow: 1;
}

footer{
    text-align: center;
    background-color: #1c1c1c;
    color: azure;
    margin: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
}

@media screen and (max-width: 800px) {
    .monsters{
        display: flex;
        flex-direction: column;
    }

    nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .tweedelig{
        display: flex;
        flex-direction: column;
    }
}

