html {
    background-color: #333;
    font-family: Arial, Courier-New,  sans-serif;
    padding: 0px;
    color: #292929;

    background-image: url("../images/chips_challenge.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header {
    width: 100%;
    text-align: center;
    color: #cccccc;
    background-color: #292929;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

main {
    width: 100%;


    background-color: white;
    border-radius:15px

}

nav {
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-evenly;
}
nav>a{

    color: #cccccc;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;

}

nav>a:hover {

    text-decoration: underline;
}

main>section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

@media screen and (min-width: 992px){
    main {
        width: 90%;
        margin: 0;
    }
}